body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FF4D6D;
    color: #333;
}



header {
    background-color: #FF4D6D;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.bg-pink {
    background-color: #FF4D6D;
}

.bg-light-pink {
    background-color: #FFB3C7;
}

footer {
    background-color: #333;
    color: white;
    padding: 2rem;
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 0 auto;
}

#contact-form input, #contact-form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background-color: #FF4D6D;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

form .form-control {
    border-radius: 0.25rem;
}

form .invalid-feedback {
    display: none;
}

form .was-validated .form-control:invalid ~ .invalid-feedback {
    display: block;
}

form .was-validated .form-control:invalid {
    border-color: #dc3545;
}

form .was-validated .form-control:valid {
    border-color: #28a745;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #FF4D6D;
}